body {
background: linear-gradient(135deg,#667eea,#764ba2);
font-family: Arial;
color: white;
text-align: center;
}


.game {
width: 700px;
margin: auto;
background: rgba(0,0,0,0.3);
padding: 20px;
border-radius: 20px;
}


canvas {
background: white;
border-radius: 12px;
cursor: crosshair;
margin: 15px 0;
}


input {
padding: 10px;
border-radius: 8px;
border: none;
width: 200px;
}


button {
padding: 10px 20px;
border-radius: 10px;
border: none;
background: #00ffcc;
font-weight: bold;
cursor: pointer;
}


.scoreboard {
display: flex;
justify-content: space-around;
font-size: 18px;
}


.timer {
font-size: 22px;
margin: 10px;
}